# Python
__pycache__/
*.py[cod]

# Env
.env

# DB
db/*.sqlite3

# Output videos/images
data/output/
*.mp4

# ❗ faces는 유지 (업로드 가능)
# data/faces 는 허용

# 모델
models/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# 테스트 이미지
mosaic_*_test.png

# debug
data/debug/
data/debug_plate/
data/logs/

# web runtime files
static/uploads/
static/outputs/

# local face test
data/faces/minseo.png